a {
  color: black;
}
a:hover {
  color: var(--mdb-body-color);
  text-decoration: none;
}

img {
  width: 100%;
}
main {
  padding: 10px;
  max-width: 1080px;
  margin: 0 auto;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}

div.post div.text_Content h1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin: 0;
  font-size: 2rem;
}

div.post div.text_Content h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

div.post p.content_info {
  margin: 6px 0;
  font-size: 0.9rem;
  color: #746f6f;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.content_info a.content_author {
  color: #4f552d;
}

div.post p.content_summary {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin: 6px 0;
  line-height: 1.5rem;
}
