a {
  cursor: pointer;
}
img {
  width: 100%;
}
main {
  padding: 10px;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a {
  font-family: 'Raleway', sans-serif;
  color: inherit;
  font-weight: 500;
}

header .header_logo {
  display: flex;
  align-items: center;
}
header .logo {
  width: auto;
  height: 2.3rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div .post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
}

div .post .text_Content h1 {
  margin: 0;
  font-size: 2rem;
}
div .post .text_Content p {
  margin: 0;
}
