/* ///// inputs /////*/

input:focus,
textarea:focus,
input:valid ~ input::placeholder {
  font-size: 1.1rem;
  color: #5f5d5d;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.file {
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 18px 24px;
  border: 0;
  background: #d4d0d079;
  margin-bottom: 2rem;
}

.custom_btn {
  border-radius: 1.5rem;
  border: 0;
  font-size: 1rem;
  background-color: #ec5a5ae7;
  color: #000000;
  width: -webkit-fill-available;
  height: 60px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 16 */
.btn16 {
  margin-top: 2rem;
  border: none;
  color: #000;
}
.btn16:after {
  border-radius: 1.5rem;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn16:hover {
  color: #000;
}
.btn16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn16:active {
  top: 2px;
}

.styledInput {
  width: -webkit-fill-available;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 30px;
  border: 0;
  font-size: 1rem;
  background-color: #d4d0d079;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .styledInput,
  .file {
    width: -webkit-fill-available;
  }
}
input:focus,
:focus {
  outline: 0;
}

input:focus ~ input::placeholder {
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type='checkbox'] {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked {
  color: #f00;
  font-style: normal;
}
