.postImage {
  width: -webkit-fill-available;
  max-height: 400px;
  overflow: hidden;
}
.postImage img {
  object-fit: cover;
  object-position: center;
}
.postHeading {
  text-align: left;
}
.postContent a {
  color: var(--mdb-link-color);
  text-decoration: underline;
}
.postContent p {
  line-height: 1.5rem;
}
.postUserInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postUserInfo time {
  color: gray;
}
.author_Section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.editDoc {
  font-size: 1.5rem;
}
.content_summary {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin: 6px 0;
  line-height: 1.5rem;
}
